html {
  scroll-behavior: smooth;
}


:root {
  --bg: #121212;
  --text: #eaeaea;
  --accent: #ffb703;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Inter', system-ui, sans-serif;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 80px 20px;
  max-width: 1200px;
  margin: 0 auto;
}
